body {
    margin: 0;
    padding: 0;
}

.box {
    width: 15vh;
    height: 15vh;
    position: fixed;
    border-radius: 50%;
    background-image: radial-gradient(red, white);
    text-align: center;
    line-height: 15vh;
    box-shadow: 5px 5px 3px 5px rgb(102, 102, 102);
    font-size: 1.5rem;
    font-weight: bold;
}

#box1 {
    top: 0;
    left: 0;
}

#box2 {
    top: 0;
    right: 0;
}

#box3 {
    bottom: 0;
    left: 0;
}

#box4 {
    bottom: 0;
    right: 0;

}

#box5 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#box5:hover {
    scale: 1.5;
    transform: translate(-37.5%, -37.5%);
    background-image: radial-gradient(green, white);
}