* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 3vh 0;
}

.brazil-flag {
    width: 55vh;
    height: 36vh;
    background-color: #009c3b;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brazil-flag > div {
    width: 31vh;
    border: 15.5vh solid #ffdf00;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    transform: scaleX(1.6);
}

.brazil-flag > div:nth-child(2) {
    border-top-color: #ffdf00;
    border-bottom-color: transparent;
}

span {
    display: block;
    width: 16vh;
    height: 16vh;
    background-color: #002777;
    border-radius: 50%;
    position: absolute;
}